* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  text-align: center;
  display: block;
}

#butonek {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
#butonek:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}
#butonek:active {
  position: relative;
  top: 1px;
}

#location_list {
  margin-top: 10px;
}

#weather_container {
  margin-top: 20px;
}

#weather_elements {
  display: grid;
}

#weather_container {
  background-color: rgb(72, 198, 239);
  border-radius: 10px;
  color: black;
  margin-bottom: 5rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#name {
  padding-top: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

#forecast_container {
  overflow: auto;
  display: inline;
  box-sizing: border-box;
}
#forecast_text {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}

.forecast_item {
  background-color: rgb(72, 198, 239);
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  color: black;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forecast_elements {
  display: flex;
  overflow: auto;
}

.forecast_item img {
  margin-left: auto;
  margin-right: auto;
}

.f_text {
  padding-top: 30px;
}

.list_item {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.list_item a {
  padding-left: 5px;
  padding-right: 5px;
  flex: 1;
}

.button_id,
.cord_button_id {
  margin-top: 4px;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}

.button_id:hover,
.cord_button_id:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

.button_id:active,
.cord_button_id:active {
  position: relative;
  top: 1px;
}

#location_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#description::first-letter {
  text-transform: capitalize;
}

.f_text {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0.5em;
}
